# Data Preparation

### Unduh Data CSV dari : https://github.com/realpython/python-data-cleaning/blob/master/Datasets/BL-Flickr-Images-Book.csv

### 1 import **librari**

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("BL-Flickr-Images-Book.csv")

In [2]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [3]:
yg_dihapus = ['Shelfmarks']

In [4]:
df.drop(yg_dihapus,inplace=True, axis=1)

In [5]:
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...

2. Mengubah Indeks Di Data

In [6]:
df['Identifier'].is_unique

True

In [7]:
df = df.set_index('Identifier')

In [8]:
df.head()

,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL
Identifier,,,,,,,,,,,,,
206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...

In [9]:
df.loc[206]

Edition Statement                                                       NaN
Place of Publication                                                 London
Date of Publication                                             1879 [1878]
Publisher                                                  S. Tinsley & Co.
Title                                     Walter Forbes. [A novel.] By A. A
Author                                                                A. A.
Contributors                                                FORBES, Walter.
Corporate Author                                                        NaN
Corporate Contributors                                                  NaN
Former owner                                                            NaN
Engraver                                                                NaN
Issuance type                                                   monographic
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Name: 206, dtype: object

3. Merapikan Fields

In [10]:
df.dtypes.value_counts()

object     10
float64     3
dtype: int64

In [11]:
df.loc[1905:,'Date of Publication'].head()

Identifier
1905           1888
1929    1839, 38-54
2836           1897
2854           1865
2956        1860-63
Name: Date of Publication, dtype: object

`hilangkan tanggal lain dalam kurung siku
`konversi rentang tanggal
`hilangkan tanggal yang gak jelas
`konversi Nan

In [12]:
regex = r'^(\d{4})'

In [13]:
ekstrak = df['Date of Publication'].str.extract(r'^(\d{4})',expand=False)
ekstrak.head(15)

Identifier
206     1879
216     1868
218     1869
472     1851
480     1857
481     1875
519     1872
667      NaN
874     1676
1143    1679
1280    1802
1808    1859
1905    1888
1929    1839
2836    1897
Name: Date of Publication, dtype: object

In [14]:
df['Date of Publication'] = pd.to_numeric(ekstrak)
df['Date of Publication'].dtype

dtype('float64')

4. Membersihkan Kolom(Fields)

In [15]:
df['Place of Publication'].head(15)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
1280                               Coventry
1808                            Christiania
1905                                Firenze
1929                              Amsterdam
2836                                 Savona
Name: Place of Publication, dtype: object

In [16]:
df.loc[667]

Edition Statement                                                       NaN
Place of Publication                    pp. 40. G. Bryan & Co: Oxford, 1898
Date of Publication                                                     NaN
Publisher                                                               NaN
Title                     The Coming of Spring, and other poems. By J. A...
Author                                                        A., J.|A., J.
Contributors                                  ANDREWS, J. - Writer of Verse
Corporate Author                                                        NaN
Corporate Contributors                                                  NaN
Former owner                                                            NaN
Engraver                                                                NaN
Issuance type                                                   monographic
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Name: 667, dtype: object

In [17]:
df.loc[4157862]

Edition Statement                                                       NaN
Place of Publication                                    Newcastle-upon-Tyne
Date of Publication                                                  1867.0
Publisher                                                        T. Fordyce
Title                     Local Records; or, Historical Register of rema...
Author                        FORDYCE, T. - Printer, of Newcastle-upon-Tyne
Contributors               SYKES, John - Bookseller, of Newcastle-upon-Tyne
Corporate Author                                                        NaN
Corporate Contributors                                                  NaN
Former owner                                                            NaN
Engraver                                                                NaN
Issuance type                                                   monographic
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Name: 4157862, dtype: object

In [18]:
df['Place of Publication'].tail(15)

Identifier
4115138    G. Eld: London, 1608
4116063                  London
4117526                 Leipzig
4117583                  London
4117749                New York
4117751                New York
4117752                  London
4156359                New York
4157746                  London
4157862     Newcastle-upon-Tyne
4158088                  London
4158128                   Derby
4159563                  London
4159587     Newcastle upon Tyne
4160339                  London
Name: Place of Publication, dtype: object

In [19]:
df.loc[4115138]

Edition Statement                                                       NaN
Place of Publication                                   G. Eld: London, 1608
Date of Publication                                                     NaN
Publisher                                                               NaN
Title                     The Revenger's Tagaedie. As it hath beene sund...
Author                                                                  NaN
Contributors                                               TOURNEUR, Cyril.
Corporate Author                                                        NaN
Corporate Contributors                                                  NaN
Former owner                                                            NaN
Engraver                                                                NaN
Issuance type                                                   monographic
Flickr URL                http://www.flickr.com/photos/britishlibrary/ta...
Name: 4115138, dtype: object

In [20]:
publikasi = df['Place of Publication']
london = publikasi.str.contains('London')
london[:5]

Identifier
206    True
216    True
218    True
472    True
480    True
Name: Place of Publication, dtype: bool

In [21]:
oxford = publikasi.str.contains('Oxford')

In [22]:
df['Place of Publication'] = np.where(london,'London', 
                        np.where(oxford,'Oxford',
                        publikasi.str.replace('-','')))

In [23]:
df['Place of Publication'].head(15)

Identifier
206          London
216          London
218          London
472          London
480          London
481          London
519          London
667          Oxford
874          London
1143         London
1280       Coventry
1808    Christiania
1905        Firenze
1929      Amsterdam
2836         Savona
Name: Place of Publication, dtype: object

In [24]:
df['Place of Publication'].tail(15)

Identifier
4115138                 London
4116063                 London
4117526                Leipzig
4117583                 London
4117749               New York
4117751               New York
4117752                 London
4156359               New York
4157746                 London
4157862      NewcastleuponTyne
4158088                 London
4158128                  Derby
4159563                 London
4159587    Newcastle upon Tyne
4160339                 London
Name: Place of Publication, dtype: object

In [25]:
df.head

<bound method NDFrame.head of                        Edition Statement Place of Publication  \
Identifier
206                                  NaN               London
216                                  NaN               London
218                                  NaN               London
472                                  NaN               London
480         A new edition, revised, etc.               London
...                                  ...                  ...
4158088                              NaN               London
4158128                              NaN                Derby
4159563                              NaN               London
4159587                              NaN  Newcastle upon Tyne
4160339                              NaN               London

            Date of Publication                Publisher  \
Identifier
206                      1879.0         S. Tinsley & Co.
216                      1868.0             Virtue & Co.
218                      1869.0    Bradbury, Evans & Co.
472                      1851.0            James Darling
480                      1857.0     Wertheim & Macintosh
...                         ...                      ...
4158088                  1838.0                      NaN
4158128                  1831.0          M. Mozley & Son
4159563                     NaN  T. Cadell and W. Davies
4159587                  1834.0         Mackenzie & Dent
4160339                  1834.0                      NaN

                                                        Title  \
Identifier
206                         Walter Forbes. [A novel.] By A. A
216         All for Greed. [A novel. The dedication signed...
218         Love the Avenger. By the author of “All for Gr...
472         Welsh Sketches, chiefly ecclesiastical, to the...
480         [The World in which I live, and my place in it...
...                                                       ...
4158088     The Parochial History of Cornwall, founded on,...
4158128     The History and Gazetteer of the County of Der...
4159563     Magna Britannia; being a concise topographical...
4159587     An historical, topographical and descriptive v...
4160339     Collectanea Topographica et Genealogica. [Firs...

                                                       Author  \
Identifier
206                                                     A. A.
216                                                 A., A. A.
218                                                 A., A. A.
472                                                 A., E. S.
480                                                 A., E. S.
...                                                       ...
4158088                    GIDDY, afterwards GILBERT, Davies.
4158128                            GLOVER, Stephen - of Derby
4159563     LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...
4159587                                 Mackenzie, E. (Eneas)
4160339                                                   NaN

                                                 Contributors  \
Identifier
206                                           FORBES, Walter.
216              BLAZE DE BURY, Marie Pauline Rose - Baroness
218              BLAZE DE BURY, Marie Pauline Rose - Baroness
472                               Appleyard, Ernest Silvanus.
480                                       BROOME, John Henry.
...                                                       ...
4158088     BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...
4158128                                        NOBLE, Thomas.
4159563              GREGSON, Matthew.|LYSONS, Samuel - F.R.S
4159587                                  ROSS, M. - of Durham
4160339               BANDINEL, Bulkeley.|Nichols, John Gough

            Corporate Author  Corporate Contributors Former owner  Engraver  \
Identifier
206                      NaN                     NaN          NaN       NaN
216                      NaN                     NaN          NaN       NaN
218                      NaN                     NaN          NaN       NaN
472                      NaN                     NaN          NaN       NaN
480                      NaN                     NaN          NaN       NaN
...                      ...                     ...          ...       ...
4158088                  NaN                     NaN          NaN       NaN
4158128                  NaN                     NaN          NaN       NaN
4159563                  NaN                     NaN          NaN       NaN
4159587                  NaN                     NaN          NaN       NaN
4160339                  NaN                     NaN          NaN       NaN

           Issuance type                                         Flickr URL
Identifier
206          monographic  http://www.flickr.com/photos/britishlibrary/ta...
216          monographic  http://www.flickr.com/photos/britishlibrary/ta...
218          monographic  http://www.flickr.com/photos/britishlibrary/ta...
472          monographic  http://www.flickr.com/photos/britishlibrary/ta...
480          monographic  http://www.flickr.com/photos/britishlibrary/ta...
...                  ...                                                ...
4158088      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4158128      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4159563      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4159587      monographic  http://www.flickr.com/photos/britishlibrary/ta...
4160339       continuing  http://www.flickr.com/photos/britishlibrary/ta...

[8287 rows x 13 columns]>

Kita gunakan dataset yang baru, unduh di https://github.com/realpython/python-data-cleaning/blob/master/Datasets/university_towns.txt

5. Membersihkan Dataset dengan Applymap

In [26]:
university_town = []
with open ("university_towns.txt") as file:
    for line in file:
        if '[edit]' in line:
            state = line
    else: 
        university_town.append((state,line))
university_town[:5]

[('Wyoming[edit]\n', 'Laramie (University of Wyoming)[5]\n')]

In [28]:
df

,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL
Identifier,,,,,,,,,,,,,
206,NaN,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
216,NaN,London,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
218,NaN,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
472,NaN,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
480,"A new edition, revised, etc.",London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4158088,NaN,London,1838.0,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
4158128,NaN,Derby,1831.0,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
4159563,NaN,London,NaN,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
4159587,NaN,Newcastle upon Tyne,1834.0,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...
4160339,NaN,London,1834.0,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...